{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", "chevronright", "diamond", "parallelogram", and "round". (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - skip_styles: {Boolean} Don't include component styles. Useful when rendering multiple product cards in a loop. Default: false (optional)
  - quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{%- if card_product and card_product != empty -%}
  <div class="nxt-course__card">
    <div class="nxt-course__thumb">
      <a href="{{ card_product.url }}">
        <img
          src="{{ card_product.featured_image | img_url: '600x400' }}"
          alt="{{ card_product.title }}"
          width="600"
          height="400"
          loading="lazy"
        >
      </a>
    </div>
    <div class="nxt-course__content">
      <h3 class="nxt-course__title">
        <a href="{{ card_product.url }}">{{ card_product.title }}</a>
      </h3>
      <p class="nxt-course__description">
        {{ card_product.metafields.custom.short_tagline | default: 'Julian Melanson, Benza Maman, Leap' }}
      </p>

      <div class="nxt-meta__wrapper">
        <div class="nxt-rating__wrapper">
          <span>{{ card_product.metafields.custom.rating | default: '4.5' }}</span>
          {% assign rating_value = card_product.metafields.custom.rating | default: 4.5 %}

          <div class="nxt-rating__star">
            {% assign rating_value = card_product.metafields.custom.rating | default: 4.5 %}

            <!-- Star 1 -->
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_44_7583)">
              <path d="M13.057 5.65929C12.976 5.40863 12.7536 5.23059 12.4906 5.20688L8.91758 4.88245L7.50472 1.57551C7.40054 1.33315 7.16329 1.17627 6.89968 1.17627C6.63607 1.17627 6.39882 1.33315 6.29464 1.57607L4.88177 4.88245L1.3082 5.20688C1.04563 5.23116 0.823865 5.40863 0.742355 5.65929C0.660846 5.90996 0.736122 6.1849 0.934748 6.35822L3.63552 8.72681L2.83912 12.2349C2.78085 12.4929 2.88097 12.7595 3.09499 12.9142C3.21003 12.9973 3.34462 13.0396 3.48034 13.0396C3.59736 13.0396 3.71344 13.0081 3.81762 12.9458L6.89968 11.1037L9.98061 12.9458C10.2061 13.0814 10.4903 13.069 10.7038 12.9142C10.9179 12.759 11.0179 12.4923 10.9597 12.2349L10.1633 8.72681L12.864 6.35869C13.0627 6.1849 13.1385 5.91043 13.057 5.65929Z" fill="{% if rating_value >= 1 %}#FFC107{% else %}#FFC1078C{% endif %}"/>
              </g>
              <defs>
              <clipPath id="clip0_44_7583">
              <rect width="12.3793" height="12.3793" fill="white" transform="translate(0.709961 0.910645)"/>
              </clipPath>
              </defs>
            </svg>

            <!-- Star 2 -->
            <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_44_7585)">
              <path d="M12.4359 5.65929C12.3549 5.40863 12.1325 5.23059 11.8695 5.20688L8.29649 4.88245L6.88363 1.57551C6.77945 1.33315 6.54219 1.17627 6.27859 1.17627C6.01498 1.17627 5.77772 1.33315 5.67354 1.57607L4.26068 4.88245L0.687106 5.20688C0.424538 5.23116 0.202771 5.40863 0.121262 5.65929C0.0397521 5.90996 0.115028 6.1849 0.313654 6.35822L3.01443 8.72681L2.21803 12.2349C2.15976 12.4929 2.25987 12.7595 2.47389 12.9142C2.58893 12.9973 2.72352 13.0396 2.85925 13.0396C2.97627 13.0396 3.09235 13.0081 3.19652 12.9458L6.27859 11.1037L9.35951 12.9458C9.58496 13.0814 9.86916 13.069 10.0827 12.9142C10.2968 12.759 10.3968 12.4923 10.3386 12.2349L9.54218 8.72681L12.2429 6.35869C12.4416 6.1849 12.5174 5.91043 12.4359 5.65929Z" fill="{% if rating_value >= 2 %}#FFC107{% else %}#FFC1078C{% endif %}"/>
              </g>
              <defs>
              <clipPath id="clip0_44_7585">
              <rect width="12.3793" height="12.3793" fill="white" transform="translate(0.0888672 0.910645)"/>
              </clipPath>
              </defs>
            </svg>

            <!-- Star 3 -->
            <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_44_7587)">
              <path d="M12.8158 5.65929C12.7348 5.40863 12.5124 5.23059 12.2494 5.20688L8.67637 4.88245L7.26351 1.57551C7.15933 1.33315 6.92208 1.17627 6.65847 1.17627C6.39486 1.17627 6.1576 1.33315 6.05343 1.57607L4.64056 4.88245L1.06699 5.20688C0.80442 5.23116 0.582654 5.40863 0.501144 5.65929C0.419635 5.90996 0.494911 6.1849 0.693537 6.35822L3.39431 8.72681L2.59791 12.2349C2.53964 12.4929 2.63975 12.7595 2.85378 12.9142C2.96882 12.9973 3.1034 13.0396 3.23913 13.0396C3.35615 13.0396 3.47223 13.0081 3.57641 12.9458L6.65847 11.1037L9.7394 12.9458C9.96485 13.0814 10.249 13.069 10.4626 12.9142C10.6767 12.759 10.7767 12.4923 10.7185 12.2349L9.92206 8.72681L12.6228 6.35869C12.8215 6.1849 12.8973 5.91043 12.8158 5.65929Z" fill="{% if rating_value >= 3 %}#FFC107{% else %}#FFC1078C{% endif %}"/>
              </g>
              <defs>
              <clipPath id="clip0_44_7587">
              <rect width="12.3793" height="12.3793" fill="white" transform="translate(0.46875 0.910645)"/>
              </clipPath>
              </defs>
            </svg>

            <!-- Star 4 -->
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_44_7589)">
              <path d="M13.1947 5.65929C13.1137 5.40863 12.8913 5.23059 12.6283 5.20688L9.05528 4.88245L7.64242 1.57551C7.53824 1.33315 7.30098 1.17627 7.03737 1.17627C6.77377 1.17627 6.53651 1.33315 6.43233 1.57607L5.01947 4.88245L1.4459 5.20688C1.18333 5.23116 0.96156 5.40863 0.880051 5.65929C0.798541 5.90996 0.873817 6.1849 1.07244 6.35822L3.77321 8.72681L2.97682 12.2349C2.91854 12.4929 3.01866 12.7595 3.23268 12.9142C3.34772 12.9973 3.48231 13.0396 3.61803 13.0396C3.73506 13.0396 3.85114 13.0081 3.95531 12.9458L7.03737 11.1037L10.1183 12.9458C10.3438 13.0814 10.6279 13.069 10.8415 12.9142C11.0556 12.759 11.1556 12.4923 11.0974 12.2349L10.301 8.72681L13.0017 6.35869C13.2004 6.1849 13.2762 5.91043 13.1947 5.65929Z" fill="{% if rating_value >= 4 %}#FFC107{% else %}#FFC1078C{% endif %}"/>
              </g>
              <defs>
              <clipPath id="clip0_44_7589">
              <rect width="12.3793" height="12.3793" fill="white" transform="translate(0.847656 0.910645)"/>
              </clipPath>
              </defs>
            </svg>

            <!-- Star 5 -->
            <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_44_7591)">
              <path d="M12.5746 5.65929C12.4935 5.40863 12.2712 5.23059 12.0082 5.20688L8.43516 4.88245L7.0223 1.57551C6.91812 1.33315 6.68086 1.17627 6.41726 1.17627C6.15365 1.17627 5.91639 1.33315 5.81222 1.57607L4.39935 4.88245L0.825778 5.20688C0.563209 5.23116 0.341443 5.40863 0.259934 5.65929C0.178424 5.90996 0.2537 6.1849 0.452326 6.35822L3.1531 8.72681L2.3567 12.2349C2.29843 12.4929 2.39854 12.7595 2.61257 12.9142C2.7276 12.9973 2.86219 13.0396 2.99792 13.0396C3.11494 13.0396 3.23102 13.0081 3.3352 12.9458L6.41726 11.1037L9.49819 12.9458C9.72364 13.0814 10.0078 13.069 10.2214 12.9142C10.4355 12.759 10.5355 12.4923 10.4772 12.2349L9.68085 8.72681L12.3816 6.35869C12.5802 6.1849 12.6561 5.91043 12.5746 5.65929Z" fill="{% if rating_value >= 5 %}#FFC107{% else %}#FFC1078C{% endif %}"/>
              </g>
              <defs>
              <clipPath id="clip0_44_7591">
              <rect width="12.3793" height="12.3793" fill="white" transform="translate(0.227539 0.910645)"/>
              </clipPath>
              </defs>
            </svg>
          </div>
        </div>
        {% if card_product.metafields.custom.rating_count != blank %}
          <span class="nxt-rating__count">({{ card_product.metafields.custom.rating_count }})</span>
        {% endif %}
      </div>

      <div class="nxt-price__wrapper">
        <span class="nxt-price__new">
          {%- if card_product.price > 0 %}{{ card_product.price | money }}{% else %}Free{% endif -%}
        </span>
        {%- if card_product.compare_at_price > card_product.price -%}
          <span class="nxt-price__old">{{ card_product.compare_at_price | money }}</span>
        {%- endif -%}
      </div>

      <div class="nxt-button__wrapper">
        <form action="/cart/add" method="post" enctype="multipart/form-data">
          <input type="hidden" name="id" value="{{ card_product.variants.first.id }}">
          <button type="submit" class="nxt-button__link">Add to Cart</button>
        </form>
      </div>
    </div>
  </div>
{%- else -%}
  <div class="nxt-course__card">
    <div class="nxt-course__thumb">
      <a href="#" role="link" aria-disabled="true">
        <img src="https://placehold.co/600x400" alt="course thumb" width="600" height="400" loading="lazy">
      </a>
    </div>
    <div class="nxt-course__content">
      <h3 class="nxt-course__title">
        <a href="#" role="link" aria-disabled="true">{{ 'onboarding.product_title' | t }}</a>
      </h3>
      <p class="nxt-course__description">Julian Melanson, Benza Maman, Leap</p>
      <div class="nxt-meta__wrapper">
        <div class="nxt-rating__wrapper">
          <span>4.5</span>
          <div class="nxt-rating__star">
            <svg viewBox="0 0 1000 200" class="rating">
              <defs>
                  <polygon id="star"
                      points="100,0 131,66 200,76 150,128 162,200 100,166 38,200 50,128 0,76 69,66">
                  </polygon>
                  <clipPath id="stars">
                      <use xlink:href="#star"></use>
                      <use xlink:href="#star" x="20%"></use>
                      <use xlink:href="#star" x="40%"></use>
                      <use xlink:href="#star" x="60%"></use>
                      <use xlink:href="#star" x="80%"></use>
                  </clipPath>
              </defs>
              <rect class="rating__background" clip-path="url(#stars)"></rect>
              <rect width="90%" class="rating__value" clip-path="url(#stars)"></rect>
            </svg>
          </div>
        </div>
        <span class="nxt-rating__count">(0)</span>
      </div>
      <div class="nxt-price__wrapper">
        <span class="nxt-price__new">$0.00</span>
        <span class="nxt-price__old">$0.00</span>
      </div>

      <div class="nxt-button__wrapper">
        <a href="#" role="link" aria-disabled="true" class="nxt-button__link">View Course</a>
      </div>
    </div>
  </div>
{%- endif -%}
