{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", "chevronright", "diamond", "parallelogram", and "round". (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - skip_styles: {Boolean} Don't include component styles. Useful when rendering multiple product cards in a loop. Default: false (optional)
  - quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{%- if card_product and card_product != empty -%}
  <div class="nxt-course__card">
    <div class="nxt-course__thumb">
      <a href="{{ card_product.url }}">
        <img
          src="{{ card_product.featured_image | img_url: '600x400' }}"
          alt="{{ card_product.title }}"
          width="600"
          height="400"
          loading="lazy"
        >
      </a>
    </div>
    <div class="nxt-course__content">
      <h3 class="nxt-course__title">
        <a href="{{ card_product.url }}">{{ card_product.title }}</a>
      </h3>
      <p class="nxt-course__description">
        {{ card_product.metafields.custom.short_tagline | default: 'Julian Melanson, Benza Maman, Leap' }}
      </p>

      <div class="nxt-meta__wrapper">
        <div class="nxt-rating__wrapper">
          <span>{{ card_product.metafields.custom.rating | default: '4.5' }}</span>
          {% assign rating_width = card_product.metafields.custom.rating | default: 4.5 | times: 20 %}
          <div class="nxt-rating__star">
            <svg viewBox="0 0 1000 200" class="rating">
              <defs>
                  <polygon id="star"
                      points="100,0 131,66 200,76 150,128 162,200 100,166 38,200 50,128 0,76 69,66">
                  </polygon>
                  <clipPath id="stars">
                      <use xlink:href="#star"></use>
                      <use xlink:href="#star" x="20%"></use>
                      <use xlink:href="#star" x="40%"></use>
                      <use xlink:href="#star" x="60%"></use>
                      <use xlink:href="#star" x="80%"></use>
                  </clipPath>
              </defs>
              <rect class="rating__background" clip-path="url(#stars)"></rect>
              <rect width="{{ rating_width }}%" class="rating__value" clip-path="url(#stars)"></rect>
            </svg>
          </div>
        </div>
        {% if card_product.metafields.custom.rating_count != blank %}
          <span class="nxt-rating__count">({{ card_product.metafields.custom.rating_count }})</span>
        {% endif %}
      </div>

      <div class="nxt-price__wrapper">
        <span class="nxt-price__new">
          {%- if card_product.price > 0 %}{{ card_product.price | money }}{% else %}Free{% endif -%}
        </span>
        {%- if card_product.compare_at_price > card_product.price -%}
          <span class="nxt-price__old">{{ card_product.compare_at_price | money }}</span>
        {%- endif -%}
      </div>

      <div class="nxt-button__wrapper">
        <form action="/cart/add" method="post" enctype="multipart/form-data">
          <input type="hidden" name="id" value="{{ card_product.variants.first.id }}">
          <button type="submit" class="nxt-button__link">Add to Cart</button>
        </form>
      </div>
    </div>
  </div>
{%- else -%}
  <div class="nxt-course__card">
    <div class="nxt-course__thumb">
      <a href="#" role="link" aria-disabled="true">
        <img src="https://placehold.co/600x400" alt="course thumb" width="600" height="400" loading="lazy">
      </a>
    </div>
    <div class="nxt-course__content">
      <h3 class="nxt-course__title">
        <a href="#" role="link" aria-disabled="true">{{ 'onboarding.product_title' | t }}</a>
      </h3>
      <p class="nxt-course__description">Julian Melanson, Benza Maman, Leap</p>
      <div class="nxt-meta__wrapper">
        <div class="nxt-rating__wrapper">
          <span>4.5</span>
          <div class="nxt-rating__star">
            <svg viewBox="0 0 1000 200" class="rating">
              <defs>
                  <polygon id="star"
                      points="100,0 131,66 200,76 150,128 162,200 100,166 38,200 50,128 0,76 69,66">
                  </polygon>
                  <clipPath id="stars">
                      <use xlink:href="#star"></use>
                      <use xlink:href="#star" x="20%"></use>
                      <use xlink:href="#star" x="40%"></use>
                      <use xlink:href="#star" x="60%"></use>
                      <use xlink:href="#star" x="80%"></use>
                  </clipPath>
              </defs>
              <rect class="rating__background" clip-path="url(#stars)"></rect>
              <rect width="90%" class="rating__value" clip-path="url(#stars)"></rect>
            </svg>
          </div>
        </div>
        <span class="nxt-rating__count">(0)</span>
      </div>
      <div class="nxt-price__wrapper">
        <span class="nxt-price__new">$0.00</span>
        <span class="nxt-price__old">$0.00</span>
      </div>

      <div class="nxt-button__wrapper">
        <a href="#" role="link" aria-disabled="true" class="nxt-button__link">View Course</a>
      </div>
    </div>
  </div>
{%- endif -%}
